/* 
##########################################################################################################################

		MODAL FOR VOTES

##########################################################################################################################
*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
	width: 25%;
    border: 3px solid #5bb85d; 
	borcer-radius: 10px;   
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s	
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5bb85d ;
    color: white;
}

.modal-body {
	padding: 2px 16px;
	max-height: 500px;
	overflow: scroll;
}

/* Listview */
.modal-body div {
  margin: 0px 20px;
}

.modal-body ul {
  list-style-type: none;
  width: 100%;
}

.modal-body h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.modal-body li div {
	overflow: hidden;
	width: 50px;
	height: 50px;
	float: left;
	border-radius:50%;
}

.modal-body li img {
  float: left;
  margin: 0 15px 0 0;
  width: 100%;
}

.modal-body li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.modal-body li {
  padding: 10px;
  overflow: auto;
}

.modal-body li h3 {
	margin-top: 10px;
	padding: 0;
}

li:hover {
  background: #eee;
  cursor: pointer;
}

.largeImgWrapper {
	width: 100%;
	max-height: 513px;
	overflow: hidden;
}

.largeImg {
	margin: auto;
}

.smallImgWrapper {
	width: 100%;
	max-height: 153px;
	overflow: hidden;
}

.smallImg {
	margin: auto;
}



/* 
##########################################################################################################################

		MODAL FOR MESSAGE

##########################################################################################################################
*/

/* The Modal (background) */
.modalMessage {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-message {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
	width: 25%;
    border: 3px solid #5bb85d; 
	borcer-radius: 10px;   
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s	
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close-message {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-message:hover,
.close-message:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header-message {
    padding: 2px 16px;
    background-color: #5bb85d;
    color: white;
}

.modal-body-message {
	padding: 2px 16px;
	max-height: 500px;
	overflow: scroll;
}

/* Listview */
.modal-body-message {
	padding: 50px;
	font-size: 20px;
}

@media only screen and (max-width: 500px) {
    .modal-content {
        width: 320px;
    }
	
	.modal-header h2 {
		font-size: 20px;
	}
	
	.modal-content-message {
        width: 320px;
    }
	
	.modal-header-message h2 {
		font-size: 20px;
	}		
}

@media only screen and (min-width: 501px) and (max-width: 1000px) {
    .modal-content {
        width: 50%;
    }
	
	.modal-content-message {
        width: 50%;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1300px) {
    .modal-content {
        width: 40%;
    }
	
	.modal-content-message {
        width: 40%;
    }
}