
.galerija1 {
	float: left;
	width: 250px;
	height: 250px;
	max-width: 250px;
	margin-right: 10px;
	position: relative;
}

.galerija2 {
	width: 250px;
	height: 250px;
	float: left;
	margin-right: 10px;
	position: relative;
}

.galerija3 {
	float: left;
	width: 250px;
	height: 250px;
	position: relative;
}

.lajkovi {
	position: absolute;
	bottom: 0;
}

.galerija1 img {
	max-width:100%; 
	max-height:90%;
	margin:auto;
	display:block;
	position: absolute;
	bottom: 30;
}

.galerija2 img {
	max-width:100%; 
	max-height:90%;
	margin:auto;
	display:block;
	position: absolute;
	bottom: 30;
}

.galerija3 img {
	max-width:100%; 
	max-height:90%;
	margin:auto;
	display:block;
	position: absolute;
	bottom: 30px;
}

.glavnidiv {
	display: table;
    margin: 0 auto;
	margin-top: 60px;
}

a {
	background-color: #00b3fe;
	border: 2px solid white;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 8px;
}

a:hover {
	background-color: white;
    color: #00b3fe;
	border: 2px solid #00b3fe;
}

input[type=submit] {
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	background-color: #00b3fe;
	border: 2px solid white;
	color: white;
	padding: 3px 10px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	border-radius: 8px;
	margin-left:10px;
}

input[type=submit]:hover {
	background-color: white;
    color: #00b3fe;
	border: 2px solid #00b3fe;
}