#sve, #divusername {
	display: table;
    margin: 0 auto;
	margin-top: 20px;
}

#gornji {
	border: 2px solid #00b3fe;
	border-radius: 10px;
	height:400px;
	/*padding:10px;*/
}

.divprofilna {
	width: 320px;
	height: 400px;
	max-width: 300px;
	float: left;
	
}

.divpodaci {
	width: 800px;
	height: 400px;
	float: left;
	margin-left:10px;
}

#kompletna {
	position: relative;
	top: 200px;
}

.podeli {
	float: left;
	margin-top: 86px;
	margin-left: 10px;
}

#desnidiv {
	float: left;
	text-align: center;
	height: 400px;
	width: 250px;
	margin-left: 20px;
	position: relative;
}

#divlozinka {
	clear: left;
	height: 50px;
	position: relative;
	top: 54px;
}

#skrivenalozinka {
	visibility:hidden;
}

.divskriveni {
	height: 100px;
	position: absolute;
	
	margin: auto;
    left:0;
	right: 0;
	top: 0;
	bottom: 0;
}

.picsize {
	width:320px;
	height:400px;
	position: relative;
	/*display: table;
    margin: 0 auto;*/
}

.picsize img {
	width: auto;
	max-height: 380px;
	max-width: 300px;
	
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
	right: 0;
	
	border-radius: 8px;
}

#malagalerija {
	clear: left;
	position: relative;
	top: 200px;
	border: 2px solid #00b3fe;
	border-radius: 10px;
}

#slika1 {
	display: inline-block;
	margin-right: 15px;
}

#slika1 img {
	max-height: 180px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

#slika2 {
	display: inline-block;
	margin-right: 15px;
}

#slika2 img {
	max-height: 180px;
}

#slika3 {
	display: inline-block;
}

#slika3 img {
	max-height: 180px;
}

input[type=submit], input[type=button] {
	background-color: #00b3fe;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	border: 2px solid white;
}

#link {
	background-color: #00b3fe;
    color: white;
	padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	border: 2px solid white;
}

input[type=submit]:hover, input[type=button]:hover, #link:hover {
	background-color: white;
    color: #00b3fe;
	border: 2px solid #00b3fe;
}


font {
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
}