
#glavni {
	position: relative;
	margin: auto;
	top: 25px;
	right: 0;
	bottom: 0;
	left: 350px;
}

#btn, #nazad {
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	background-color: #00b3fe;
	border: 2px solid white;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#nazad {
	margin-left: 8px;
	margin-top: 8px;
}

#btn:hover, #nazad:hover{
	background-color: white;
    color: #00b3fe;
	border: 2px solid #00b3fe;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #00b3fe;
}

.tekst {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}